{{#link-to 'dashboard.super.settings.quotes.quote'}}
<button type="button" class="btn btn-block btn-sm btn-default">
  Quote Setting
</button>
{{/link-to}}

{{#link-to 'dashboard.super.settings.quotes.backgroundimage'}}
<button type="button" class="btn btn-block btn-sm btn-default">
  Background Image Settings
</button>
{{/link-to}}
