{{#link-to 'dashboard.super.settings.wallet'}}
<button type="button" class="btn btn-block btn-sm btn-default">
  Wallet Setting
</button>
{{/link-to}}

{{#link-to 'dashboard.super.settings.quotes'}}
<button type="button" class="btn btn-block btn-sm btn-default">
  Quotes Settings
</button>
{{/link-to}}
