
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    {{input type="text" value=ticket.title class="form-control" placeholder="Title"}}

  </div>
  <div class="form-group">
    <label >Body</label>
    {{textarea value=ticket.body class="form-control"}}
  </div>



  <button type="submit" {{action 'SaveTicket' ticket}} disabled={{isCreateTicketDisabled}} class="btn btn-default">Submit</button>
</form>
